h1 {
	text-align: center;
}
button {
	width: 100px;
	height: 40px;
}
p {
	text-align: center;
}
.table {
	margin: auto;
	border: 1px solid white;
	padding: 0px 20px 10px 20px;
	border-collapse: collapse;
}
.table2 {
	margin: auto;
}
th, td {
	padding: 15px;
	height: 30px;
}
#Results {
	width: 400px;
	margin: auto;
	background-color: #F2F2F2;
	padding: 2px 0px 30px 0px;
}